[submodule "substrate-subxt"]
	path = substrate-subxt
	url = https://github.com/cdot-network/substrate-subxt.git
	branch = ibc-demo
[submodule "substrate"]
	path = substrate
	url = https://github.com/cdot-network/substrate.git
	branch = ibc-demo
[submodule "node-template/pallets/ibc"]
	path = node-template/pallets/ibc
	url = https://github.com/cdot-network/substrate-ibc.git
